<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <script th:src="@{/statics/libs/jquery.min.js}"></script>
    <script th:src="@{/statics/libs/bootstrap.min.js}"></script>
    <script th:src="@{/statics/plugins/layer/layer.js}"></script>
    <script th:src="@{/statics/libs/vue.min.js}"></script>
    <script th:src="@{/statics/plugins/ztree/jquery.ztree.all.min.js}"></script>
    <script th:src="@{/statics/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/statics/plugins/bootstrap-table/pagejump/bootstrap-table-pagejump.js}"></script>
    <script th:src="@{/statics/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/statics/plugins/bootstrap-table/treegrid/bootstrap-table-treegrid.js}"></script>
    <script th:src="@{/statics/plugins/bootstrap-table/treegrid/jquery-treegrid.min.js}"></script>
    <script th:src="@{/statics/plugins/validator/validator.js}"></script>
    <script th:src="@{/statics/plugins/laydate/laydate.js}"></script>
    <script th:src="@{/statics/plugins/select2/select2.min.js}"></script>
    <script th:src="@{/statics/plugins/select2/i18n/zh-CN.min.js}"></script>
    <script th:src="@{/statics/plugins/switchery/switchery.min.js}"></script>
    <script th:src="@{/statics/plugins/editor/editor.min.js}"></script>
    <script th:src="@{/statics/plugins/icheck/icheck.min.js}"></script>
    <script th:src="@{/statics/js/common.js}"></script>
    <script th:src="@{/statics/js/form.js}"></script>
</div>
</body>
</html>