<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header(title)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link th:href="@{/statics/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/statics/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/statics/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/statics/plugins/bootstrap-table/treegrid/jquery-treegird.min.css}" rel="stylesheet"/>
    <link th:href="@{/statics/plugins/bootstrap-table/pagejump/bootstrap-table-pagejump.css}" rel="stylesheet"/>
    <link th:href="@{/statics/plugins/ztree/css/metroStyle/metroStyle.css}" rel="stylesheet"/>
    <link th:href="@{/statics/plugins/select2/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/statics/plugins/switchery/switchery.min.css}" rel="stylesheet"/>
    <link th:href="@{/statics/plugins/icheck/skins/square/blue.css}" rel="stylesheet"/>
    <link th:href="@{/statics/css/style.min.css}" rel="stylesheet"/>
    <link th:href="@{/statics/css/common.min.css}" rel="stylesheet"/>
</head>